RaceTime.Core/RaceTime.Common/bin/
RaceTime.Core/RaceTime.Common/obj/
RaceTime.Core/RaceTime.CoreAPI/bin/
RaceTime.Core/RaceTime.CoreAPI/obj/
RaceTime.Core/RaceTime.Portal/bin/
RaceTime.Core/RaceTime.Portal/obj/
RaceTime.AssettoCorsa/RaceTime.AssettoCorsa.FileParser/obj/
RaceTime.AssettoCorsa/RaceTime.AssettoCorsa.Test/bin/
RaceTime.AssettoCorsa/RaceTime.AssettoCorsa.Test/obj/
RaceTime.AssettoCorsa/packages/
RaceTime.AssettoCorsa/acPlugins4net/bin/
RaceTime.AssettoCorsa/RaceTime.AssettoCorsa.FileParser/bin/
RaceTime.AssettoCorsa/acPlugins4net/obj/
RaceTime.AssettoCorsa/RaceTime.AssettoCorsa.ServerPlugin/bin/
RaceTime.AssettoCorsa/RaceTime.AssettoCorsa.ServerPlugin/obj/
RaceTime.AssettoCorsa/RaceTime.AssettoCrosa.Common/obj/
RaceTime.Core/.vs/config/applicationhost.config
RaceTime.Core/.vs/RaceTime.Core/v15/.suo
RaceTime.AssettoCorsa/RaceTime.AssettoCrosa.Common/bin/
RaceTime.AssettoCorsa/RaceTime.AssettoCorsa.WindowsService/bin/
RaceTime.AssettoCorsa/RaceTime.AssettoCorsa.WindowsService/obj/
