@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/about.min.css" rel="stylesheet" type="text/css" />
    <link href="~/global/plugin/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <link href="~/global/plugin/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />

}

<div class="page-content-wrapper">
    @*<!-- BEGIN CONTENT BODY -->*@
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    RaceTime Live
                    <small>Live Timing Solution</small>
                </h1>
            </div>
            <div class="page-toolbar">
                <!-- BEGIN THEME PANEL -->
                <div class="btn-group btn-theme-panel">
                    <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-settings"></i>
                    </a>
                    <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <h3>COLUMN</h3>
                                <h6>Columns Available:</h6>
                                <input id="range_cols" type="text" value="" />
                                <hr />
                                <h6>Column Sizes:</h6>
                                <input id="range_col1" type="text" value="" />
                                <br />
                                <div id="range_container_2">
                                    <input id="range_col2" type="text" value="" />
                                </div>
                                <br />
                                <div id="range_container_3">
                                    <input id="range_col3" type="text" value="" />
                                </div>

                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12 seperator">
                                <h3>LAYOUT</h3>
                                <h3 class="list-heading">General Settings</h3>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span class="">Display Live Timing</span>
                                        <div class="pull-right">
                                            <input type="checkbox" class="make-switch right" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="">Display Driver Information</span>
                                        <div class="pull-right">
                                            <input type="checkbox" class="make-switch right" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="">Display Track Map</span>
                                        <div class="pull-right">
                                            <input type="checkbox" class="make-switch right" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <span class="">Display Session Information</span>
                                        <div class="pull-right">
                                            <input type="checkbox" class="make-switch right" checked data-size="small" data-on-color="success" data-on-text="ON" data-off-color="default" data-off-text="OFF">
                                        </div>
                                    </div>
                                </div>                                

                            </div>
                        </div>
                    </div>
                </div>
                <!-- END THEME PANEL -->
            </div>

        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

        <div class="row" id="sortable_portlets">
            <div id="col1" class="col-md-8 column sortable">
                <div class="portlet box green-sharp portlet-sortable">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Live Info
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="" class="fullscreen"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th> Pos </th>
                                        <th> Driver Name </th>
                                        <th> Gap / Diff </th>
                                        <th> Best Lap </th>
                                        <th> Last Lap </th>
                                        <th> Sector 1 </th>
                                        <th> Sector 2 </th>
                                        <th> Sector 3 </th>
                                        <th> Grip </th>
                                        <th> Tyre Compound </th>
                                        <th> Pitstops </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> Eckardt </td>
                                        <td> - </td>
                                        <td> 1:30.14 </td>
                                        <td><span class=" lap-best-lable"> 1:32.47 </span></td>
                                        <td> 44.47 </td>
                                        <td> 52.47 </td>
                                        <td><span class=" lap-good-lable"> 11.48 </span></td>
                                        <td> 97 % </td>
                                        <td>
                                            <span class="label label-sm revert-lable-success"> H</span>
                                            <span class="label label-sm revert-lable-warning"> ST</span>
                                            <span class="label label-sm revert-lable-info"> SM</span>
                                            <span class="label label-sm label-success"> H </span>
                                        </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> Meh </td>
                                        <td> +23.234 </td>
                                        <td> 1:31.14 </td>
                                        <td> 1:32.47 </td>
                                        <td> 44.47 </td>
                                        <td> 52.47 </td>
                                        <td> 11.48 </td>
                                        <td> 97 % </td>
                                        <td>

                                            <span class="label label-sm revert-lable-danger"> M</span>
                                            <span class="label label-sm label-info"> SM </span>
                                        </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> 3 </td>
                                        <td> Test </td>
                                        <td> +1 Lap </td>
                                        <td> 1:32.14 </td>
                                        <td><span class="lap-invalid-lable"> 1:32.47 </span></td>
                                        <td> 44.47 </td>
                                        <td><span class=" lap-bad-lable"> 10.00 </span></td>
                                        <td> 11.48 </td>
                                        <td> 97 % </td>
                                        <td>
                                            <span class="label label-sm label-warning"> ST </span>
                                        </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> 4 </td>
                                        <td> This </td>
                                        <td> +2 Laps </td>
                                        <td> 1:35.14 </td>
                                        <td> 1:38.47 </td>
                                        <td> 44.47 </td>
                                        <td> 52.47 </td>
                                        <td> 11.48 </td>
                                        <td> 96 % </td>
                                        <td>
                                            <span class="label label-sm label-danger"> M </span>
                                        </td>
                                        <td> - </td>
                                    </tr>



                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="portlet box blue portlet-sortable">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Live Track Map
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="" class="fullscreen"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="card-icon">
                            <i class="icon-info font-blue theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Coming Soon </span>
                        </div>
                        <div class="card-desc">
                            <span>
                                This element is still under development.
                                <br> Please be paitient
                            </span>
                        </div>
                    </div>
                </div>
                <div class="portlet portlet-sortable-empty"> </div>

            </div>
            <div id="col2" class="col-md-4 column sortable">
                <div class="portlet box green portlet-sortable">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Driver Information
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="" class="fullscreen"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="card-icon">
                            <i class="icon-info font-green theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Coming Soon </span>
                        </div>
                        <div class="card-desc">
                            <span>
                                This element is still under development.
                                <br> Please be paitient
                            </span>
                        </div>
                    </div>
                </div>
                <div class="portlet box green-meadow portlet-sortable">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i>Session information
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="" class="fullscreen"> </a>
                            <a href="javascript:;" class="remove"> </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="card-icon">
                            <i class="icon-info font-green-meadow theme-font"></i>
                        </div>
                        <div class="card-title">
                            <span> Coming Soon </span>
                        </div>
                        <div class="card-desc">
                            <span>
                                This element is still under development.
                                <br> Please be paitient
                            </span>
                        </div>
                    </div>
                </div>
                <div class="portlet portlet-sortable-empty"> </div>
            </div>
            <div id="col3" class="col-md-3 column sortable">
                @*<div class="portlet box green-meadow portlet-sortable">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>Session information
                            </div>
                            <div class="tools">
                                <a href="javascript:;" class="collapse"> </a>
                                <a href="" class="fullscreen"> </a>
                                <a href="javascript:;" class="remove"> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="card-icon">
                                <i class="icon-info font-green-meadow theme-font"></i>
                            </div>
                            <div class="card-title">
                                <span> Coming Soon </span>
                            </div>
                            <div class="card-desc">
                                <span>
                                    This element is still under development.
                                    <br> Please be paitient
                                </span>
                            </div>
                        </div>
                    </div>*@
                <div class="portlet portlet-sortable-empty"> </div>
            </div>
        </div>

    </div>
    <!-- END CONTENT BODY -->
</div>

@section Scripts {
    <script src="~/lib/signalr/jquery.signalR.min.js" type="text/javascript"></script>
    <script src="~/global/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/global/js/portlet-draggable.min.js" type="text/javascript"></script>
    <script src="~/global/plugin/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>


    <script>
        $(function () {
            initializeSliders();
            var connection = $.hubConnection("http://localhost:17757");
            //var connection = $.hubConnection("http://racetimecoreapi");
            var testHub = connection.createHubProxy('assettoCorsaHub');

            //Register Events
            testHub.on('lapCompleted', LapCompletedEvent);
            testHub.on('lapUpdated', LapUpdatedEvent);
            testHub.on('newLap', NewLapEvent);
            testHub.on('newCollision', NewCollisionEvent);
            testHub.on('newCompetitor', NewCompetitorEvent);
            testHub.on('updatedCompetitor', CompetitorUpdatedEvent);
            testHub.on('disconnectedCompetitor', CompetitorDisconnectedEvent);

            connection.start()
                .done(function () {
                    console.log('Now connected, connection ID=' + connection.id);
                    testHub.invoke('try').done(function () {
                        console.log('Invocation of NewContosoChatMessage succeeded');
                    }).fail(function (error) {
                        console.log('Invocation of NewContosoChatMessage failed. Error: ' + error);
                    });
                })
                .fail(function () { console.log('Could not connect'); });
        });



        // Server Push Events
        function LapCompletedEvent(data) {
            console.log("Lap Completed Recieved");
            console.log(data);
        }

        function LapUpdatedEvent(data) {
            console.log("Lap Updated Recieved");
            console.log(data);
        }

        function NewLapEvent(data) {
            console.log("New Lap Recieved");
            console.log(data);
        }

        function NewCollisionEvent(data) {
            console.log("New Collision Recieved");
            console.log(data);
        }

        function NewCompetitorEvent(data) {
            console.log("New Competitor Recieved");
            console.log(data);
        }

        function CompetitorUpdatedEvent(data) {
            console.log("Competitor Updated Recieved");
            console.log(data);
        }

        function CompetitorDisconnectedEvent(data) {
            console.log("Competitor Disconnected Recieved");
            console.log(data);
        }



        function initializeSliders() {
            $("#range_cols").ionRangeSlider({
                min: 1,
                max: 3,
                from: 2,
                onChange: function (data) {
                    updateColCount(data);
                }
            });

            $("#range_col1").ionRangeSlider({
                min: 1,
                max: 12,
                from: 8,
                step: 1,
                from_max: 11,
                onChange: function (data) {
                    updateSliderCol1(data);
                }
            });

            $("#range_col2").ionRangeSlider({
                type: "double",
                min: 1,
                max: 12,
                from: 8,
                to: 12,
                step: 1,
                from_fixed: true,
                to_min: 9,
                to_max: 12,
                onChange: function (data) {
                    updateSliderCol2(data);
                }
            });

            $("#range_col3").ionRangeSlider({
                type: "double",
                min: 1,
                max: 12,
                from: 10,
                to: 12,
                step: 1
            });


            $("#range_container_3").hide();
        }

        function updateColCount(data) {
            if (data.from == 1) {
                $("#range_container_2").hide();
                $("#range_container_3").hide();

                var slider = $("#range_col1").data("ionRangeSlider");
                slider.update({
                    min: 1,
                    max: 12,
                    from: 12,
                    from_min: 12,
                    from_max: 12,
                    step: 1
                });

            }
            else if (data.from == 2) {
                $("#range_container_2").show();
                $("#range_container_3").hide();

                var slider = $("#range_col1").data("ionRangeSlider");
                slider.update({
                    min: 1,
                    max: 12,
                    from: 8,
                    from_min: 0,
                    from_max: 11,
                    step: 1
                });

                var slider = $("#range_col2").data("ionRangeSlider");
                slider.update({
                    type: "double",
                    min: 1,
                    max: 12,
                    from: 8,
                    to: 12,
                    step: 1,
                    from_fixed: true,
                    to_min: 9,
                    to_max: 12
                });
            }
            else {
                $("#range_container_2").show();
                $("#range_container_3").show();

                var slider = $("#range_col1").data("ionRangeSlider");
                slider.update({
                    min: 1,
                    max: 12,
                    from: 6,
                    from_min: 0,
                    from_max: 10,
                    step: 1
                });

                var slider = $("#range_col2").data("ionRangeSlider");
                slider.update({
                    type: "double",
                    min: 1,
                    max: 12,
                    from: 6,
                    to: 9,
                    step: 1,
                    from_fixed: true,
                    to_min: 7,
                    to_max: 11
                });

                var slider = $("#range_col3").data("ionRangeSlider");
                slider.update({
                    type: "double",
                    min: 1,
                    max: 12,
                    from: 9,
                    to: 12,
                    step: 1,
                    from_fixed: true,
                    to_min: 10,
                    to_max: 12
                });
            }
            updateGridDisplay();

        }

        function updateSliderCol1(data) {
            var slider = $("#range_cols").data("ionRangeSlider");
            if (slider.old_from == 2) {
                var updateSlider = $("#range_col2").data("ionRangeSlider");
                updateSlider.update({
                    type: "double",
                    min: 1,
                    max: 12,
                    from: data.from,
                    to: 12,
                    step: 1,
                    from_fixed: true,
                    to_min: 12,
                    to_max: 12
                });
            }
            else if (slider.old_from == 3) {
                var updateSlider = $("#range_col2").data("ionRangeSlider");
                var updateSlider2 = $("#range_col3").data("ionRangeSlider");

                updateSlider.update({
                    type: "double",
                    min: 1,
                    max: 12,
                    from: data.from,
                    step: 1,
                    from_fixed: true,
                    to_min: data.from + 1,
                    to_max: 11
                });

                updateSlider2.update({
                    type: "double",
                    min: 1,
                    max: 12,
                    from: updateSlider.old_to,
                    to: 12,
                    step: 1,
                    from_fixed: true,
                    to_min: 12,
                    to_max: 12
                });
            }

            updateGridDisplay();
        }

        function updateSliderCol2(data) {
            var slider = $("#range_cols").data("ionRangeSlider");
            if (slider.old_from == 3) {
                var updateSlider = $("#range_col3").data("ionRangeSlider");

                updateSlider.update({
                    type: "double",
                    min: 1,
                    max: 12,
                    from: data.to,
                    to: 12,
                    step: 1,
                    from_fixed: true,
                    to_min: 12,
                    to_max: 12
                });
            }
            updateGridDisplay();

        }

        function updateGridDisplay() {
            var slider = $("#range_cols").data("ionRangeSlider");
            if (slider.old_from == 1) {
                document.getElementById('col1').className = "col-md-12 column sortable";
                $('#col2').hide();
                $('#col3').hide();
            }
            else if (slider.old_from == 2) {
                $('#col2').show();
                $('#col3').hide();

                var slider = $("#range_col1").data("ionRangeSlider");
                document.getElementById('col1').className = "col-md-" + slider.old_from + " column sortable";

                var slider = $("#range_col2").data("ionRangeSlider");
                var value = slider.result.to - slider.result.from;
                document.getElementById('col2').className = "col-md-" + value + " column sortable";
            }

            else if (slider.old_from == 3) {
                $('#col2').show();
                $('#col3').show();

                var slider = $("#range_col1").data("ionRangeSlider");
                document.getElementById('col1').className = "col-md-" + slider.old_from + " column sortable";

                slider = $("#range_col2").data("ionRangeSlider");
                value = slider.result.to - slider.result.from;
                document.getElementById('col2').className = "col-md-" + value + " column sortable";

                slider = $("#range_col3").data("ionRangeSlider");
                value = slider.result.to - slider.result.from;
                document.getElementById('col3').className = "col-md-" + value + " column sortable";
            }

        }


    </script>
}

