@{
    ViewData["Title"] = "Home Page";
}

<div class="page-content-wrapper">
    @*<!-- BEGIN CONTENT BODY -->*@
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    RaceTime Live
                    <small>Live Timing Solution</small>
                </h1>
            </div>

        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-social-dribbble font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Server Name: Session</span>
                        </div>                       
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <th> Pos </th>
                                        <th> Driver Name </th>
                                        <th> Gap / Diff </th>
                                        <th> Best Lap </th>
                                        <th> Last Lap </th>
                                        <th> Sector 1 </th>
                                        <th> Sector 2 </th>
                                        <th> Sector 3 </th>
                                        <th> Grip </th>
                                        <th> Tyre Compound </th>       
                                        <th> Pitstops </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 1 </td>
                                        <td> Eckardt </td>
                                        <td> - </td>
                                        <td> 1:30.14 </td>
                                        <td><span class=" lap-best-lable"> 1:32.47 </span></td>
                                        <td> 44.47 </td>
                                        <td> 52.47 </td>
                                        <td><span class=" lap-good-lable"> 11.48 </span></td>
                                        <td> 97 % </td>
                                        <td>
                                            <span class="label label-sm revert-lable-success"> H</span>
                                            <span class="label label-sm revert-lable-warning"> ST</span>
                                            <span class="label label-sm revert-lable-info"> SM</span>
                                            <span class="label label-sm label-success"> H </span>
                                        </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> 2 </td>
                                        <td> Meh </td>
                                        <td> +23.234 </td>
                                        <td> 1:31.14 </td>
                                        <td> 1:32.47 </td>
                                        <td> 44.47 </td>
                                        <td> 52.47 </td>
                                        <td> 11.48 </td>
                                        <td> 97 % </td>
                                        <td>

                                            <span class="label label-sm revert-lable-danger"> M</span>
                                            <span class="label label-sm label-info"> SM </span>
                                        </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> 3 </td>
                                        <td> Test </td>
                                        <td> +1 Lap </td>
                                        <td> 1:32.14 </td>
                                        <td><span class="lap-invalid-lable"> 1:32.47 </span></td>
                                        <td> 44.47 </td>
                                        <td><span class=" lap-bad-lable"> 10.00 </span></td>
                                        <td> 11.48 </td>
                                        <td> 97 % </td>
                                        <td>
                                            <span class="label label-sm label-warning"> ST </span>
                                        </td>
                                        <td> - </td>
                                    </tr>
                                    <tr>
                                        <td> 4 </td>
                                        <td> This </td>
                                        <td> +2 Laps </td>
                                        <td> 1:35.14 </td>
                                        <td> 1:38.47 </td>
                                        <td> 44.47 </td>
                                        <td> 52.47 </td>
                                        <td> 11.48 </td>
                                        <td> 96 % </td>
                                        <td>
                                            <span class="label label-sm label-danger"> M </span>
                                        </td>
                                        <td> - </td>
                                    </tr>

                                    
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

@section Scripts {
    @*Stuff comes here*@
    <script src="~/lib/signalr/jquery.signalR.min.js" type="text/javascript"></script>


    <script>
        $(function () {

            //var connection = $.hubConnection("http://localhost:17757");
            var connection = $.hubConnection("http://racetimecoreapi");
            var testHub = connection.createHubProxy('assettoCorsaHub');

            //Register Events
            testHub.on('lapCompleted', LapCompletedEvent);
            testHub.on('lapUpdated', LapUpdatedEvent);
            testHub.on('newLap', NewLapEvent);
            testHub.on('newCollision', NewCollisionEvent);
            testHub.on('newCompetitor', NewCompetitorEvent);
            testHub.on('updatedCompetitor', CompetitorUpdatedEvent);
            testHub.on('disconnectedCompetitor', CompetitorDisconnectedEvent);

            connection.start()
                .done(function () {
                    console.log('Now connected, connection ID=' + connection.id);
                    testHub.invoke('try').done(function () {
                        console.log('Invocation of NewContosoChatMessage succeeded');
                    }).fail(function (error) {
                        console.log('Invocation of NewContosoChatMessage failed. Error: ' + error);
                    });
                })
                .fail(function () { console.log('Could not connect'); });
        });


        // Server Push Events
        function LapCompletedEvent(data) {
            console.log("Lap Completed Recieved");
            console.log(data);
        }

        function LapUpdatedEvent(data) {
            console.log("Lap Updated Recieved");
            console.log(data);
        }

        function NewLapEvent(data) {
            console.log("New Lap Recieved");
            console.log(data);
        }

        function NewCollisionEvent(data) {
            console.log("New Collision Recieved");
            console.log(data);
        }

        function NewCompetitorEvent(data) {
            console.log("New Competitor Recieved");
            console.log(data);
        }

        function CompetitorUpdatedEvent(data) {
            console.log("Competitor Updated Recieved");
            console.log(data);
        }

        function CompetitorDisconnectedEvent(data) {
            console.log("Competitor Disconnected Recieved");
            console.log(data);
        }


    </script>
}

